{% extends "base.html" %}

{% block content %}
    <h3 class="h3-main">
        Оформление каюты
    </h3>
    <table class="main-table">
        <tbody>
            <tr>
                <td class="main-th">Цвет эмблемы</td>
                <td class="main-th">Эмблема</td>    
            </tr>
            <tr>
                {% if sex == 'male' %}
                    {% if age >= 21 %}
                        <td><div class="ino-div male-adult"></div></td>
                        <td><img class= 'ino-img' src="{{ adult }}" alt=""></td>
                    {% else %}
                        <td><div class="ino-div male-young"></div></td>
                        <td><img class= 'ino-img' src="{{ young }}" alt=""></td>
                    {% endif %}
                {% elif sex == 'female' %}
                    {% if age >= 21 %}
                        <td><div class="ino-div female-adult"></div></td>
                        <td><img class= 'ino-img' src="{{ adult }}" alt=""></td>
                    {% else %}
                        <td><div class="ino-div female-young"></div></td>
                        <td><img class= 'ino-img' src="{{ young }}" alt=""></td>
                    {% endif %}
    
                {% endif %}
            </tr>
        </tbody>
    </table>
    <!-- <div class="em-div">
        <div class="em-param">
            <label class="em-color">Цвет эмблемы</label>
            <label class="em">Эмблема</label>
        </div>
        <div class="flex"> 
            {% if sex == 'male' %}
                {% if age >= 21 %}
                    <div class="ino-div male-adult"></div>
                    <img class= 'ino-img' src="{{ adult }}" alt="">
                {% else %}
                    <div class="ino-div male-young"></div>
                    <img class= 'ino-img' src="{{ young }}" alt="">
                {% endif %}
            {% elif sex == 'female' %}
                {% if age >= 21 %}
                    <div class="ino-div female-adult"></div>
                    <img class= 'ino-img' src="{{ adult }}" alt="">
                {% else %}
                    <div class="ino-div female-young"></div>
                    <img class= 'ino-img' src="{{ young }}" alt="">
                {% endif %}
    
            {% endif %}
        </div>
    </div> -->
    
{% endblock %}
