h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
  }
  
  td {
    padding: 0px
  }


.h2-main{
    text-align: center;
}

.h3-main {
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
}

.h4-main {
    color: #d0559a;
}

.p-main {
    margin-left: 30px;
    margin-top: 15px;
}

.em-div {
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

.em-param {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 800px;
    height: 30px;
    background-color: #C4C7B9;
}

.ino-div, .ino-img {
    width: 400px;
    height: 600px;
}

.female-adult {
    background-color: #FF5600;
}
.female-young {
    background-color: #F59D6F;
}
.male-adult {
    background-color: #0076FF;

}
.male-young {
    background-color: #68AEFF;

}

.main-table {
    margin: 0 auto;
    margin-top: 30px;
}

.main-th {
    width: 400px;
    font-size: 400;
    text-align: center;
    background-color: #B4B7AE;
}
