h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.h2-main{
    text-align: center;
}

.h3-main {
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
}

.h4-main {
    color: #d0559a;
}

.p-main {
    margin-left: 30px;
    margin-top: 15px;
}

.img-main {
    max-height: 600px;
}

.em-div {
    margin-top: 20px;
}

.al {
    margin-top: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

.em-param {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 800px;
    height: 30px;
    background-color: #C4C7B9;
}
